.grid-tile {
  background-color: rgb(158, 158, 158);
  font-size: 2em;
  font-weight: bold;
  color: rgba(255, 255, 255, .87);
  transition: background-color .25s ease-in, color .25s ease-in;

  &.active {
    background-color: #00C853;
    color: rgba(255, 255, 255, .87);
  }
}
